<div>

  <header>
    <div class="product">
       <h2 class="nombre">Bienvenido {{info.user.first_name}} {{info.user.last_name}} </h2> 
      <a title="salir" href="api/sessions/logout"><img class="logOut" src="imagen/logOut.png" alt="salir" /></a>
    {{#if info.isAdministrator}}
      <img class="logOut" src="imagen/Admin-icon.png" alt="Admin" srcset="">    
    {{/if}}

 
    </div>


     
  </header>

<div>
    <h1>PRODUCTOS EN STOCK 🍅🌿</h1>
    </div>

<table id="main" role="grid">

  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Categoria</th> 
  </tr>
  {{#each info.payload}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>   
     
    </tr>
  {{/each}}
  
</table>
<p>Página actual: {{page}}</p>
<a href="{{info.prevLink}}" role="button" {{#unless info.hasPrevPage}}disabled{{/unless}} >Anterior</a>
<a href="{{info.nextLink}}" role="button" {{#unless info.hasNextPage}}disabled{{/unless}} >Siguiente</a>



</div>