<div class="container">
        <div class="d-flex justify-content-center mb-5">
            <h1>🛒 CARRITO DE COMPRAS 🛒</h1>
            <a title="a Producto" href="/products"><img class="tamImgcarr" src="imagen/volver.png" alt="ir a producto" /></a>
        </div>

 <h3>Numero Carrito: {{idCarrito}}</h3>
<div> 
    <div>        
         <div>
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Producto</th>
                         <th scope="col">Precio Unitario</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Quitar</th>                            
                    </tr>
                </thead>
        {{#each facturacion}}
                <tbody>                                  
                        <tr>                
                            <td>{{this.producto}} </td>
                            <td>{{this.precioUnitario}} $</td>
                            <td>{{this.subtotal}} $</td>
                            <td>{{this.cantidad}}</td>
                            <form id="myForm{{this.id}}"method="post" >   
                            <input type="hidden" name="userId" value="{{idCarrito}}">       
                            <td >
                            <input id="envio-pago" class="bg-transparent d-flex p-2 border border-0 mx-auto " type="image" data-id={{this._id}} name="eliminar" src="/imagen/quitar.png" alt="eliminar">
                            </td>   
                            </form>                            
                        </tr>                 
                </tbody>
         {{/each}}
                        <tr>
                            <td>Total Factura </td>
                             <td> </td>
                            <td>{{total}} $</td>
                            <td>{{totalItems}} Productos</td>
                            <td> </td>                  
                        </tr>
            </table>
        </div>
       
    </div>
</div>

  <button id="pagar">Efectuar Pago</button></a>


</div>

