<div class="container">
        <div class="d-flex justify-content-center mb-5">
            <h1>🛒 CARRITO DE COMPRAS 🛒</h1>
            <a title="a Producto" href="/products"><img class="tamImgcarr" src="imagen/volver.png" alt="ir a producto" /></a>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <h3>Operacion Nro: {{idCarrito}}</h3>
        </div>



<div> 
    <div class="d-flex">        
         <div class="px-5">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Producto</th>
                         <th scope="col">Precio Unitario</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Quitar</th>                            
                    </tr>
                </thead>
        {{#each facturacion}}
                <tbody>                                  
                        <tr>                
                            <td>{{this.producto}} </td>
                            <td>{{this.precioUnitario}} $</td>
                            <td>{{this.subtotal}} $</td>
                            <td>{{this.cantidad}}</td>                            
                            <form id="formCart{{this.id}}"method="delete" >                         
                            <input type="hidden" id="productId" value="{{this._id}}">       
                            <td class="borrar"><input id="quito-carrito" style="background-color: transparent; border:none" type="image" data-id="{{../idCarrito}}" name="enviar" src="/imagen/quitar.png" alt="carga"></td>   
                            </form>
                        </tr>                          
                </tbody>
         {{/each}}

                        <tr>
                            <td>Total Factura </td>
                             <td> </td>
                            <td>{{total}} $</td>
                            <td>{{totalItems}} Productos</td>
                            <td> </td>                  
                        </tr>
            </table>
        </div>
          <div>
            
                 <div class="form-group">
                    <label for="exampleInputEmail1">Email Direccion</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Ingrese Mail de Facturacion</small>
                </div>
                 <div class="form-group">
                    <label for="domicilio">Direccion</label>
                    <input type="text" class="form-control" id="direccion" aria-describedby="direccionHelp" placeholder="Ingrese Direccion" required>
                    <small id="direccionHelp" class="form-text text-muted">Ingrese su Domicilio</small>
                </div>
               <div class="form-group">
                    <label for="envio">Costo Envio</label>
                    <input type="text" class="form-control" readonly id="costoEnvio" aria-describedby="cosotEnvioHelp" placeholder="Costo de Envio" value="0"  oninput="sumar()">
                    <small id="envioHelp" class="form-text text-muted">Costo de Envio</small>
                    <button onclick="calcularCostoEnvio()">Calcular Costo Envio</button>
                </div>
                 <div class="form-group">
                    <label for="subtotal">Sub Total</label>
                    <input type="text" class="form-control" id="subtotal" value="{{total}}"  aria-describedby="direccionHelp" placeholder="subtotal" readonly oninput="sumar()">
                    <small id="subtotal" class="form-text text-muted">subtotal Operacion</small>
                </div>

                 <div class="form-group">
                    <label for="total">Total Factura</label>
                    <input type="text" class="form-control" id="total" aria-describedby="totalHelp" placeholder="Total Operacion">
                    <small id="totalHelp" class="form-text text-muted">Total Operacion</small>
                </div>
                     {{!-- <button onclick="facturar()">Facturar</button> --}}
                     <input type="hidden" id="idCarrito" value="{{idCarrito}}">       
                <button type="button" onclick="facturar()">Facturar</button>
          
        </div>       
    </div>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/cart.js"></script>

</div>

