<div>

 <header>
    <div class="product">
       <h4 class="nombre">Bienvenido {{info.user.first_name}} {{info.user.last_name}} </h4> 
      <input type="hidden" id="idUser" value="{{info.user.id}}">      
      <a title="salir" href="api/user/logout"><img class="tamImg" src="imagen/logOut.png" alt="salir" /></a>
    {{#if info.isAdministrator}}
      <img class="tamImg" src="imagen/Admin-icon.png" alt="Admin" srcset="">    
    {{/if}}
    </div>  
     
  </header>


    <div class="d-flex justify-content-center mb-5">
    <h1>PRODUCTOS EN STOCK 🍅🌿</h1>
      <a title="carrito" href="/cart"><img class="tamImgcarr" src="imagen/carro.png" alt="ir a carrito" /></a>
    </div>


   

<table id="main" role="grid">

  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Categoria</th>
    <th>cantidad</th>
    <th>ingresar</th>
  </tr>
  {{#each info.payload}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td> 
  
      <form id="myForm{{this.id}}"method="post" >
        <td><input type="text" id="cant_{{this._id}}" class="text-primary bg-light" placeholder="Ingrese Cantidad" name="cantidad" value="1" required></td>   
        <input type="hidden" name="productId" value="{{this._id}}">       
        <td><input id="envio-button" class="text-primary bg-light" type="image" data-id={{this._id}} name="enviar" src="/imagen/carrito.png" alt="carga"></td>   
      </form>
    </tr>
  {{/each}}
  
</table>
<p>Página actual: {{info.page}}</p>
<a href="{{info.prevLink}}" role="button" {{#unless info.hasPrevPage}}disabled{{/unless}} >Anterior</a>
<a href="{{info.nextLink}}" role="button" {{#unless info.hasNextPage}}disabled{{/unless}} >Siguiente</a>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/index.js"></script>

</div>